.lfgreybackgroung{
    background-color:#f8f8f8;
}

body{
    font-family:"Roboto";
}

h1, h2, h3 {
    font-family:"Roboto Mono"
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
    height:2px;
    width:30px;
}

.hamburger-label{
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    text-transform: uppercase;
}

.lfmenu{
    width:100%;
    background-color:#9fc5e8ff;
    height:100vw;
    position:fixed;
}