.lfblue{
    color:#0000ff;
}

body{
    font-family:"Palatino";
}

h1, h2, h3 {
    font-family:"Abel"
}

.abel{
    font-family:"abel";
}

.palatino{
    font-family:"palatino";
}

.logo{
    display:block;
    width:75px;
    height:75px;
    box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
    font-family:"abel";
    border:1px solid black;
    text-align:center;
    background-color:white;
    position:relative;
    float:right;
    margin-top:-50px;
    right:20px;
}

.logo div{
    display:inline-block;
    vertical-align: middle;
    line-height:75px;
    font-size:25px;
}

.ctabox{
    margin-top:-25px;
    background-color:white;
}

/*.ctabox input[type="submit"]{
    display:block;
    border:none;
    background-color:black;
    color:white;
}*/

p{
    line-height:1.6em !important;
}

p a, ul a, .ctabox a{
    text-decoration: underline;
    color: blue;
}

.postcontainer blockquote{
    border-left:4px solid #0000ff;
    padding-left:10px;
    margin-left:10px;
}

.highlight{
    background-color:#CFE2F3
    }

.caption{
    padding-left:25%;
    margin:0px;
    float:right;
    line-height:12px;
    font-size:12px;
}