---
---

{% include head.html %}


<div class="lh-copy w-100 mw6 pa5-l pa3 f4 center">

    <div class="f4 abel center ba pa2">Little Futures - A near futures explorer's club</div>

    <img class="w100 bl br bb border-box" src="/images/the-disintegration-of-the-persistence-of-memory.jpg" />

    <div class="logo">LF</div>



</div>




<div class="lh-copy mw7 pa2-l pa3 center f4">
<h2 class="fw3">Welcome to Little Futures Club</h2>
<p>Hi, we're <a href="https://twitter.com/itsbdell">Brian</a> and <a href="https://tomcritchlow.com">Tom</a>. We're starting something new at the intersection of education, futures, creativity and business.</p>
<p><span class="lfblue">Little Futures</span> are companies doing new things by educating their teams</a></p>
<p><span class="lfblue">Little Futures</span> are near future explorations and ideas</a></p>
<p><span class="lfblue">Little Futures</span> is a community</a></p>
<p>Sign up for our newsletter here: <a href="https://littlefutures.substack.com">littlefutures.substack.com</a></p>

</div>

{% include footer.html %}

{% include googleanalytics.html %}

