---
---

{% include head.html %}


<div class="lh-copy w-100 mw6 pa3-l mt2 pa3 f4 center">

    <div class="f4 abel center ba pa2 tc">LITTLE FUTURES - A near futures explorer's club</div>

    <img class="w100 bl br bb border-box" src="/images/the-disintegration-of-the-persistence-of-memory.jpg" />

    <div class="logo"><div>LF</div></div>

    <div class="f6 abel"><em>The disintegration of the persistence of memroy, Salvador Dali</em></div>

<div class="ba f5 mt4 pa2 palatino pb4">

    Little Futures is a research and consultancy studio from Brian Dell and Tom Critchlow to make futures thinking less abstract and more grounded - to shine a light on what we call “arm’s-length futures”.
    <br><br>
    With a background in creative stratgy, media & consulting we are experimenting with building a new kind of research partnership and consultancy to help navigate new kinds of futures, little futures.
    <br><br>
    Our first project is an experimental weekly email to share our thinking and highlight interesting links.

    <div class="ba w-75 center tc shadow-5 ctabox"><a href="">Sign up here</a></div>

</div>
    


</div>

{% include footer.html %}

{% include googleanalytics.html %}

