<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
  <small class="f6 db tc">© 2046 <b class="ttu">Little Futures</b>., Experiments in near futures</small>
  <div class="tc mt3">
    <a href="/aout/" title="Language" class="f6 dib ph2 link mid-gray dim">About Us</a>
    <a href="https://little-futures.substack.com"    title="Terms" class="f6 dib ph2 link mid-gray dim">Newsletter</a>
    <a href="/writing/"  title="Privacy" class="f6 dib ph2 link mid-gray dim">Writing</a>
  </div>
</footer>



</body>