<div class="w-100">
<div class="mw8 pa2 lfgreybackgroung">
    <h1>Little Futures</h1>
    <h2>A near futures explorer's club</h2>
    <div class="fr">
        <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="hamburger-label">Menu</span>
          </button>
    </div>
    <div class="hidden lfmenu">
        About us
        Blog

    </div>
</div>

<script>
    var $hamburger = $(".hamburger");
    $hamburger.on("click", function(e) {
      $hamburger.toggleClass("is-active");
      $(".lfmenu").toggle();
      // Do something else, like open/close menu
    });
  </script>

</div>