<div class="w-100">
<div class="mw8 pa2 lfgreybackgroung">
    <h1>Little Futures</h1>
    <h2>A near futures explorer's club</h2>
    <div class="fr">
        <div class="hamburger-wrap">
            <button class="hamburger hamburger--collapse hamburger--accessible js-hamburger is-active" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
              <span class="hamburger-label">Menu</span>
            </button>
          </div>
    </div>
</div>

</div>