<div class="w-100 lfgreybackgroung">
<div class="mw8 pa2 h4 center">
    <div class="fl w-75">
        <h1>Little Futures</h1>
        <h2>A near futures explorer's club</h2>
    </div>
    <div class="fr w-25">
            <div class="hamburger hamburger--squeeze">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                  </div>
    </div>
    <div class="dn lfmenu">
        <div class="pa4">
            About Us
            Writing
            Consulting
            Events
            </div>

    </div>




</div>

<script>
    var $hamburger = $(".hamburger");
    $hamburger.on("click", function(e) {
      $hamburger.toggleClass("is-active");
      $(".lfmenu").toggle();
      // Do something else, like open/close menu
    });
  </script>

</div>